* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans";
}

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 375px;
  height: auto;
  justify-content: space-between;
  padding: 48px 26px;
}

.logo-text {
  text-transform: uppercase;
  font-size: 34px;
  letter-spacing: 10px;
  color: hsl(0, 0%, 98%);
}

.moon-icon {
  width: 20px;
  height: 20px;
}

#background-img-mobile-dark {
  display: none;
}
#background-img-mobile-light {
  width: auto;
  opacity: 0.9;
}
